.MediaContainer {
  position: static;
  margin: 0%;
  padding: 0%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-around;
  align-items: center;
  align-content: center;

  background-color: #fef3d9;
  width: 100vw;
  height: 100vh;
}

.MediaContent {
  border: 2.5px dotted lightcoral !important;
  margin: 0.5em;
  padding: 0.5em;
  background-color: bisque;
}

.childImage {
  flex: 0 1 10em;
}

.childText {
  flex: 1 1 20em;
}

.imageControls {
  width: 15em;
  height: auto;
}

@media only screen and (max-width: 1024px) {
  .imageControls {
    width: 60vw;
    height: auto;
  }
  p {
    font-size: 0.85em;
  }
}

p,
h4 {
  text-align: center;
}

div > h4 {
  text-transform: uppercase;
  color: darkslateblue;
}

div > p {
  color: #555500;
  font-weight: bolder;
}

div > a {
  font-size: 0.85em;
  text-decoration: underline;
  color: cadetblue;
}