.root_container {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 100vh;
    background-color: #FEF3D9;
}

.cyan_text {
    color: cyan;
}

.gold_text {
    color: gold;
}

.source_text {
    color: #a7a7a7;
}

.white_text {
    color: white;
}
.commit_link {
    color: #a7a7a7;
    text-decoration: underline;
}

code {
    font-size: 1em;
}

@media only screen and (max-width: 1024px) {
    code {
        font-size: 0.55em;
    }
}