.root_container {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column;
    height: 100vh;
    background-color: #FEF3D9;
}

code {
    font-size: 0.85em;
}

div > ul > li {
    font-size: medium;
    margin: 0.5em;
    padding: 0.5em;
}

ul {
    list-style-type: lower-greek;
}

li > a {
    color: cadetblue;
}

#gold-text {
    color: darkolivegreen;
}

p > a {
    color: royalblue;
}
@media only screen and (max-width: 767px) {
    .root_container{
        height: 95vh;
        justify-content: space-evenly;
    }
    code {
        font-size: 0.55em;
    }
    div > ul > li {
        font-size: small;
        margin: 0.1em;
        padding: 0.1em;
    }
}








